body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(28, 27, 53);
}

.aboutus-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 25vh;
}

.joystick-img {
  width: 100%;
  height: 25%;
  object-fit: cover;
}

.text-white {
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border: none;
}

.container {
  flex: 1;
  padding-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.logo-img:hover {
  cursor: pointer;
}

.justified-text {
  text-align: justify;
}

@media (max-width: 768px) {
  .flex-md-row-reverse {
    flex-direction: column-reverse;
  }
}
